
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

#testWrapper {
    margin: 50px auto;
    max-width: 400px;
}

#startStopBtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    user-select: none;
}

#startStopBtn:hover {
    background-color: #0056b3;
}

#test {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#test div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#test div span {
    font-size: 28px;
    font-weight: bold;
}
